/* utilities */
:root{
    --black:#2c3e50;
    --grey:#3a546d;
    --green:#1abc9c;
    --white:#ffffff;
}


/* common */
body{
    color: var(--white);
}

.bg-green{
    background-color: var(--green);
}
.bg-grey{
    background-color: var(--grey);
}
.mybg-black{
    background-color: var(--black);
}


/* nav */

nav .nav-link{
    color: var(--white);
}
/* main */
#hero{
    padding-top: 100px;
}

img.avatar{
    width: 70%;
    max-width: 100%;
}
#portfolio img{
    max-width: 100%;
}

.overlay{
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: ; */
    color: var(--green);
    display: none;
}

.img-overlay:hover .overlay{
    display: flex;
    cursor: pointer;
}
/* header */
header{
    background-color:rgb(51, 46, 46);
    position: fixed;
    height: 90px;
    top: 0;
    width: 100%;
}

